<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>


	<!--댓글 수정 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="UTF-8"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
			$(".delete-com-button").click(function () {
				var id = $(this).data("id");
				var idkey = $(this).data("idkey");

				if (confirm("정말 삭제하시겠습니까?")) {
					$.ajax({
						type: "GET",
						url: "/detail/deleteComment",
						data: {
							num:/*[[${list.num}]]*/,
							cnum: id,
							id:idkey,
							page:/*[[${page}]]*/
							},
						success: function (response) {
							alert("삭제가 완료되었습니다.");
						},
						error: function () {
							alert("오류 발생")
						}
					});
				}
			});
			$(".edit-com-button").click(function () {
				var id = $(this).data("id");
				var $commentText = $("#comment-text-" + id);
				var originalContent = $commentText.val();

				// 수정 버튼 클릭 시 해당 댓글에 대한 버튼 상태 변경
				$(".delete-com-button[data-if=" + id + "]").hide();
				$(this).hide();
				$(".save-com-button[data-id=" + id + "]").show();
				$(".cancel-com-button[data-id=" + id + "]").show();
				$commentText.data("original-content", originalContent);
				$(".cancel-com-button[data-id=" + id + "]").click(function () {
					var id = $(this).data("id");
					var $commentText = $("#comment-text-" + id);

					// Replace the edited content with the original content
					$commentText.val($commentText.data("original-content"));

					// 댓글삭제와 댓글수정버튼 다시 보이게
					$(".delete-com-button[data-id=" + id + "]").show();
					$(".edit-com-button[data-id=" + id + "]").show();
					$(".save-com-button[data-id=" + id + "]").hide();
					$(this).hide();
				})
				$(".save-com-button[data-id=" + id + "]").click(function () {
					var newContent = $("#comment-text-" + id).val(); // comment에 입력한 값 받기 
					if (confirm("정말 수정하시겠습니까?")) {
						$.ajax({
							type: "POST",
							url: "/detail/updateComment",
							data: {
								num:/*[[${list.num}]]*/,
								id: id,
								page:/*[[${page}]]*/,
								content: newContent
							},
							success: function (response) {
								alert("수정이 완료되었습니다.");
								// 댓글삭제와 댓글수정버튼 다시 보이게
								$(".delete-com-button[data-id=" + id + "]").show();
								$(".edit-com-button[data-id=" + id + "]").show();
								$(".cancel-com-button[data-id=" + id + "]").hide();
								$(".save-com-button[data-id=" + id + "]").hide();
							},
							error: function () {
								alert("오류 발생")
							}
						})
					}
				})

			});
		});
    /*]]>*/
	</script>



</head>

<body>
	<h3 style="text-align:center;">* 상세 보기 *</h3>
	<table>
		<tr>
			<td style="text-align: right;">
				<a th:href="@{/update(num=${list.num},page=${page},filename=${list.filename})}">
					수정하기
				</a>
				<a th:href="@{/delete(num=${list.num})}">
					삭제하기
				</a>
				<a th:href="@{/commu(page=${page})}">
					목록보기
				</a>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td>
				작성자 : [[${list.customerid}]]</a>
			</td>
			<td>작성일 : [[${list.cdate}]]</td>
			<td>조회수 : [[${list.readcnt}]]</td>
		</tr>
		<tr>
			<td colspan="3">제목 : [[${list.title}]]</td>
		</tr>
		<tr>
			<td colspan="3">
				<th:block th:if="${list.filename != null}">
					<img th:src="@{upload/} + ${list.filename}" alt="이미지" width="300" height="300">
					<textarea rows="5" style="width: 98%" readonly="readonly">[[${list.cont}]]</textarea>
				</th:block>
				<th:block th:unless="${list.filename != null}">
					<textarea rows="5" style="width: 98%" readonly="readonly">[[${list.cont}]]</textarea>
				</th:block>

			</td>
		</tr>
	</table>
	<!-- 댓글 목록-->
	<form th:action="@{/detail/deleteComment}" method="get">
		<table th:each="comments : ${comments}">
			<tr>
				<th>Id</th>
				<th>댓글 내용</th>
				<th></th>
			</tr>
			<tr>
				<td th:text="${comments.idkey}">세션 값으로 아이디가 들어올 자리 <input type="hidden" th:value="${page}" /></td>
				<td>
					<div class="comment-text">
						<textarea th:text="${comments.content}" th:id="'comment-text-' + ${comments.id}"></textarea>
					</div>
				</td>
				<td>
					<a href="javascript:void(0);" class="edit-com-button" th:data-id="${comments.id}">수정</a>
					<a href="javascript:void(0);" class="save-com-button" th:data-id="${comments.id}"
						style="display: none;">완료</a>
					<a href="javascript:void(0);" class="cancel-com-button" th:data-id="${comments.id}"
						style="display: none;">취소</a>
					<a href="javascript:void(0);" class="delete-com-button" th:data-id="${comments.id}"
						th:data-idkey="${comments.idkey}">삭제</a>
				</td>
			</tr>
		</table>
	</form>

	<!-- 댓글 작성 폼 -->
	<!--	<div th:if="${session.idkey==null}">
		<a href="commu">로그인 후 이용가능합니다</a>
	</div>
	<div th:if="${session.idkey != null}">-->
	<form th:action="@{/detail/addComment}" method="post">
		<input type="hidden" name="num" th:value="${list.num}" />
		<input type="hidden" name="idkey" value="NoIdNow" />
		<input type="hidden" name="page" th:value="${page}" />
		<!--<input type="hidden" name="idkey" value="${session.idkey}"/>-->
		<input type="text" size="50" name="content" placeholder="댓글 내용(150자 이하로 작성 가능합니다)" />
		<button type="submit">댓글 작성</button>
	</form>
	<!-- </div> -->


	<button id="myButton">댓글 수정</button>

</body>

</html>