<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>회원 정보 확인</title>
</head>

<body>
	<h2>Supplier 회원 정보 확인</h2>
	<table style="width: 90%">
		<tr>
			<th>번호</th>
			<th>아이디</th>
			<th>비밀번호</th>
			<th>이름</th>
			<th>전화번호</th>
			<th>주소</th>
			<th>이메일</th>
			<th>사업자번호</th>
			<th>창고번호</th>		
		</tr>
		<th:block th:if="${lists2.size > 0}">
			<tr th:each="data2:${lists2}">
				<td th:text="${data2.sup_no}">num 출력</td>
				<td th:text="${data2.sup_id}"></td>
				<td th:text="${data2.sup_pwd}"></td>
				<td th:text="${data2.sup_name}"></td>
				<td th:text="${data2.sup_tel}"></td>
				<td th:text="${data2.sup_addr}"></td>
				<td th:text="${data2.sup_email}"></td>
				<td th:text="${data2.business_num}"></td>
				<td th:text="${data2.con_num}"></td>
			</tr>
		</th:block>
		<tr>
		  <td colspan="9">
			<form action="/supplier" method="post">
				검색 대상 :
				<select name="searchName">
					<option value="user_name" selected>회원이름</option>
					<option value="con_num">창고번호</option>
				</select>
				<input type="text" name="searchValue">
				<input type="submit" value="검 색">
			</form>
		  </td>
	    </tr>
	</table>
</body>

</html>