@charset "UTF-8";
#sub{
   width: 1050px;
    min-height: 600px;
    margin: 0 auto;
    padding: 50px 0;
}
#sub .line{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #222;
}

.sub_right_title h2{
    font-weight: 500;
    font-size: 22px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
}

.review_title{
	font-size: 16px;
}

#sub_con .li_line{
    border-bottom: 1px solid #222;
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#sub .li_line{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.comment_recomment {
    position: relative;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-top: 0px;
}

.review_button{
    width: 100px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #1b1b1b !important;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: #1b1b1b;
    box-sizing: border-box;
    font-size: 13px;
    margin: 5px;
}
.review_button:hover{
	background-color: #1b1b1b;
	color: #fff;
	transition: 0.3s;
}
.review_comment{
	width: 100%;
	border: 1px solid #ddd;
	height: 200px;
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
	line-height: 24px;
	font-size: 16px;
	background-color: #f6f6f6;
}

#sub .comment_store{
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    background: #f3f3f3;
    border: 1px solid #ddd;
}
#sub h5{
	display: block;
    margin: 20px 0;
    font-weight: 500;
    color: #222;
    line-height: 18px;
}
.comment_store textarea{
	width: 100%;
	height: 40px;
    border: 1px solid #ddd;
    background: #fff;
}
.comment_store #btnInsre{
	border: 1px solid #ddd;
	width: 90px;
    height: 40px;
    line-height: 38px;
    background-color: #fff;
    font-size: inherit;
    text-align: center;
}
#sub .flex4{ 
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: end;
}
.comment-text textarea{
	width: 100%;
	margin-bottom: 10px;
	border: 0px;
	font-size: 14px;
    padding: 5px 0px;
}
.comment-text{
	width: 100%;
	margin-bottom: 10px;
	border: 0px;
	font-size: 15px;
    padding: 5px 0px;
}
