<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/board.css">
</head>
<body>
<h3 style="text-align:center;">* 상세 보기 *</h3>
<table>
  <tr>
  	<!--<td>비밀번호 : [[${list.pass}]]</td>-->
  	<td style="text-align: right;">

  		<a th:href="@{/update(num=${list.num},page=${page})}">
  			수정하기
  		</a>
  		<a th:href="@{/delete(num=${list.num},page=${page})}">
  			삭제하기
  		</a>
  		<a th:href="@{/commu(page=${page})}">
  			목록보기
  		</a>
  	</td>
  </tr>
</table>

<table>
  <tr>
  	<td>
  		작성자 : <a href="mailto:${list.mail}">[[${list.name}]]</a> (ip : [[${list.cip}]])
  	</td>
  	<td>작성일 : [[${list.cdate}]]</td>
  	<td>조회수 : [[${list.readcnt}]]</td>
  </tr>
  <tr>
  	<td colspan="3">제목 : [[${list.title}]]</td>
  </tr>
  <tr>
  	<td colspan="3">
  		<textarea rows="5" style="width: 98%" readonly="readonly">[[${list.cont}]]</textarea>
  	</td>
  </tr>
</table>
</body>
</html>
