<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<script type="text/javascript">
		window.onload = function () {
			let btnIns = document.getElementById("btnIns");
			btnIns.addEventListener("click", checkData);
		}

		function checkData() {
			if (frm.name.value === "") {
//				JOptionPane.showMessageDialog(null,"이름을 입력하세요", "입력오류",JOptionPane.ERROR_MESSAGE);
				alert("이름을 입력하시오");
				frm.name.focus();
				return;
			}

			if (frm.pass.value === "") {
				alert("비밀번호를 입력하시오");
				frm.pass.focus();
				return;
			}

			if (frm.title.value === "") {
				alert("제목을 입력하시오");
				frm.pass.focus();
				return;
			}

			if (frm.cont.value === "") {
				alert("내용을 입력하시오");
				frm.pass.focus();
				return;
			}

			frm.submit();
		}
	</script>
</head>

<body>
<!--	<div th:if="${session.idkey==null}">
		<a href="commu">로그인 후 이용가능합니다</a>
	</div>
	<div th:if="${session.idkey != null}">
		[[${session.idkey}]]님 환영합니다 -->
		** 글 쓰기 **
		<p />
		<form action="insert" method="post" name="frm">
			<table style="width: 80%">
				<tr>
					<td>이름</td>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<td>암호</td>
					<td><input type="text" name="pass"></td>
				</tr>
				<tr>
					<td>이메일</td>
					<td><input type="text" name="mail"></td>
				</tr>
				<tr>
					<td>제목</td>
					<td><input type="text" name="title" style="width: 99%"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td><textarea rows="5" style="width: 99%" name="cont"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<input type="button" value="등록" id="btnIns" />
						<button type="button" id="writeBtn" onclick="history.back();">취소</button>
						<input type="button" value="목록" onclick="location.href='commu?page=1'" />
					</td>
				</tr>
			</table>
		</form>
	<!--</div>-->
	<div class="row">
                  <div class="col-lg-2">사진등록</div>
                    <div class="col-lg-10">
                      <input class="uploadImgName" id="uploadImgName" value="이미지 선택" disabled="disabled"> 
                      <label class="site-btn" for="uploadImg" id="uploadBtn">업로드</label>
                      <button type="button" class="site-btn" onclick="removeImg();">삭제</button>
                      <input type="file" id="uploadImg" oninput="checkFileName();">
                      <p>구매한 상품이 아니거나 캡쳐 사진을 첨부할 경우, 통보없이 삭제 및 적립 혜택이 취소됩니다.</p>
                    </div>
                  </div>
</body>

</html>