<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/board.css">
</head>

<body>
	<h3 style="text-align:center;">* 상세 보기 *</h3>
	<table>
		<tr>
			<td style="text-align: right;"><!-- 아이디 일치할 때만 뜨도록-->
				<a th:href="@{/noticeUpdate(num=${list.num},page=${page},filename=${list.filename})}">
					수정하기
				</a>
				<a th:href="@{/noticeDelete(num=${list.num})}">
					삭제하기
				</a>
				<a th:href="@{/notice(page=${page})}">
					목록보기
				</a>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td>
				작성자 : [[${list.adminname}]]</a>
			</td>
			<td>작성일 : [[${list.cdate}]]</td>
		</tr>
		<tr>
			<td colspan="2">제목 : [[${list.title}]]</td>
		</tr>
		<tr>
			<td colspan="2">
				<img th:src="@{upload/} + ${list.filename}" alt="이미지" width="300" height="300">
				<textarea rows="5" style="width: 98%" readonly="readonly">[[${list.content}]]</textarea>
			</td>
		</tr>
	</table>
</body>

</html>