<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Insert title here</title>
   <script type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d87d984c0f8ac3f56204cd35462db6e"></script>
   <link rel="stylesheet" href="css/commudetail.css" />
   <!-- 글 삭제 전 물어보기 -->
   <script type="text/javascript">
      function commudelete(num) {
         if (confirm("정말 삭제하시겠습니까?")) {
            // 페이지로 삭제 요청 보내기
            window.location.href = "/commudelete?num=" + num;
         }
      }
   </script>

   <!--댓글 수정 -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="UTF-8"></script>
   <script th:inline="javascript">
      /*<![CDATA[*/
      $(document).ready(function () {
         $(".delete-com-button").click(function () {
            var id = $(this).data("id");
            var idkey = $(this).data("idkey");

            if (confirm("정말 삭제하시겠습니까?")) {
               $.ajax({
                  type: "GET",
                  url: "/deleteComment",
                  data: {
                     num:/*[[${list.num}]]*/,
                     cnum: id,
                     idkey: idkey,
                     page:/*[[${page}]]*/
                     },
                  success: function (response) {
                     alert("삭제가 완료되었습니다.");
                  },
                  error: function () {
                     alert("오류 발생")
                  }
               });
            }
         });
         $(".edit-com-button").click(function () {
            var id = $(this).data("id");
            var $commentText = $("#comment-text-" + id);
            var originalContent = $commentText.val();

            // 수정 버튼 클릭 시 해당 댓글에 대한 버튼 상태 변경
            $(".delete-com-button[data-id=" + id + "]").hide();
            $(this).hide();
            $(".save-com-button[data-id=" + id + "]").show();
            $(".cancel-com-button[data-id=" + id + "]").show();
            $commentText.data("original-content", originalContent);
            $(".cancel-com-button[data-id=" + id + "]").click(function () {
               var id = $(this).data("id");
               var $commentText = $("#comment-text-" + id);

               // Replace the edited content with the original content
               $commentText.val($commentText.data("original-content"));

               // 댓글삭제와 댓글수정버튼 다시 보이게
               $(".delete-com-button[data-id=" + id + "]").show();
               $(".edit-com-button[data-id=" + id + "]").show();
               $(".save-com-button[data-id=" + id + "]").hide();
               $(this).hide();
            })
            $(".save-com-button[data-id=" + id + "]").click(function () {
               var newContent = $("#comment-text-" + id).val(); // comment에 입력한 값 받기 
               var idkey = $(this).data("idkey");
               if (confirm("정말 수정하시겠습니까?")) {
                  $.ajax({
                     type: "POST",
                     url: "/updateComment",
                     data: {
                        num:/*[[${list.num}]]*/,
                        cnum: id,
                        idkey: idkey,
                        page:/*[[${page}]]*/,
                        content: newContent
                     },
                     success: function (response) {
                        alert("수정이 완료되었습니다.");
                        // 댓글삭제와 댓글수정버튼 다시 보이게
                        $(".delete-com-button[data-id=" + id + "]").show();
                        $(".edit-com-button[data-id=" + id + "]").show();
                        $(".cancel-com-button[data-id=" + id + "]").hide();
                        $(".save-com-button[data-id=" + id + "]").hide();
                     },
                     error: function () {
                        alert("오류 발생")
                     }
                  });
               }
            });
         });
      });
    /*]]>*/
   </script>

   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
   <th:block th:replace="common/header :: headerFragment"></th:block>
   <div id="sub">
      <div class="sub_right_title">
         <h2>상세보기</h2>
         <div class="line"></div>
      </div>

      <div th:if="${#strings.equals(list.customernickname, nickname)}" }>
         <div class="rbutton flex2">
            <a class="review_button" th:href="@{/commuupdate(num=${list.num},page=${page})}">수정하기</a>
            <a class="review_button" href="#"
               th:onclick="'commudelete(' + ${list.num} + '); return false;'">삭제하기</a>
            <a class="review_button" th:href="@{/commu(page=${page})}">목록보기</a>
         </div>
      </div>

      <p class="review_title">작성자 : [[${list.customernickname}]]</p>
      <p class="review_title">작성일 : [[${list.cdate}]]</p>
      <p class="review_title">조회수 : [[${list.readcnt}]]</p>
      <p class="review_title">제목 : [[${list.title}]]</p>
      <div class="li_line"></div>
      <div th:if="${list.filename != null}">
         <div class="rimage flex2">
            <img th:src="@{upload/} + ${list.filename}" alt="이미지" width="300" height="300">
         </div>
         <p class="review_comment">[[${list.cont}]]</p>
      </div>
      <div th:unless="${list.filename != null}">
         <p class="review_comment">[[${list.cont}]]</p>
      </div>

      <!-- 댓글 목록-->
      <div class="comment_recomment" th:each="comments : ${comments}">
         <div>작성자 <b>[[${list.customernickname}]]</b></div>
         <div>댓글 내용</div>
         <div class="comment-text">
            <input type="hidden" th:value="${page}" />
            <textarea th:text="${comments.content}" th:id="'comment-text-' + ${comments.id}"></textarea>
         </div>

         <div th:if="${session.loginid != null}">
               <a href="javascript:void(0);" class="edit-com-button" th:data-id="${comments.id}">수정</a>
               <a href="javascript:void(0);" class="save-com-button" th:data-id="${comments.id}"
                  th:data-idkey="${comments.idkey}" style="display: none;">완료</a>
               <a href="javascript:void(0);" class="cancel-com-button" th:data-id="${comments.id}"
                  style="display: none;">취소</a>
               <a href="javascript:void(0);" class="delete-com-button" th:data-id="${comments.id}"
                  th:data-idkey="${comments.idkey}">삭제</a>
         </div>
         </tr>
         </table>
      </div>


      <!-- 댓글 작성 폼 -->
      <div th:if="${session.loginid==null}">
         <a href="commu">댓글 작성/ 수정은 로그인 후 이용가능합니다</a>
      </div>
      <div th:if="${session.loginid != null}">
         <div class="comment_store">
            <form th:action="@{/addComment}" name="replyform" id="replyform" class="flex4" method="post">
               <input type="hidden" name="num" th:value="${list.num}" />
               <input type="hidden" name="page" th:value="${page}" />
               <input type="text" size="50" name="content" placeholder="댓글 내용(150자 이하로 작성 가능합니다)" />
               <button type="submit">댓글 작성</button>
            </form>
         </div>
      </div>
   </div>

   <div id="map" style="width:50%;height:400px;margin: 0 auto;"></div>
      <script type="text/javascript">
         /* 카카오 map api - 02.07 */
         var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
               center: new kakao.maps.LatLng(37.49870172250289, 127.03157972960643), // 지도의 중심좌표
               level: 3 // 지도의 확대 레벨
            };

         var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

         //일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
         var mapTypeControl = new kakao.maps.MapTypeControl();

         // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
         // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
         map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

         // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
         var zoomControl = new kakao.maps.ZoomControl();
         map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

         var iwContent = '<div style="padding:5px; text-align:center;">에이콘~!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwPosition = new kakao.maps.LatLng(37.4990, 127.03157972960643), //인포윈도우 표시 위치입니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

         var markerPosition = new kakao.maps.LatLng(37.49870172250289, 127.03157972960643);

         // 마커를 생성합니다
         var marker = new kakao.maps.Marker({
            position: markerPosition
         });

         // 마커가 지도 위에 표시되도록 설정합니다
         marker.setMap(map);

         // 인포윈도우를 생성하고 지도에 표시합니다
         var infowindow = new kakao.maps.InfoWindow({
            map: map, // 인포윈도우가 표시될 지도
            position: iwPosition,
            content: iwContent,
            removable: iwRemoveable
         });

// 지도에서 제거
// infowindow.close();        

// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
// marker.setMap(null);
      </script>

   </div>
   
   <th:block th:replace="common/footer :: footerFragment"></th:block>
</body>

</html>