<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css" />
</head>
<body>
<div id="footer">
    <div class="footer_container">
        <div class="footer_top_container">
            <div class="footer_contact_container">
                <h4 class="footer_contact_title">학생복지스토어 고객센터</h4>
                <a class="footer_contact_tel" href="tel:02-1234-5678" target="_blank">02-1234-5678</a>
                <p class="footer_contact_hours">평일 10:00~18:00 / 점심시간 12:00~13:00</p>
                <p class="footer_contact_date">주말, 공휴일 휴무</p>
                <div>
                    <a class="footer_contact_email" href="mailto:help@univstore.com"
                        target="_blank">help@univstore.com</a>
                    <a class="footer_contact_qna" href="">1:1 문의하기</a>
                </div>
            </div>
            <div class="footer_container2">
                <div>
                    <div class="footer_notice">
                        <a href="">공지사항</a>
                        <a href="" target="_blank">입점/제휴문의</a>
                    </div>
                    <div class="footer_policy">
                        <a href="">사이버몰 이용약관</a>
                        <a class="footer_policy_privacy" href="">개인정보처리방침</a>
                        <a class="footer_license_link" href="#" target="_blank">사업자 정보 확인</a>
                        <a href="#">소비자 불만/분쟁해결기준</a>
                    </div>
                </div>
                <div class="footer_license">
                    <p class="footer_license_info">에이콘 아카데미 &nbsp;&nbsp; 주소 : 서울특별시 강남구  테헤란로 133, 18층(역삼동)</p>
                    <p class="footer_license_info">대표자 : 김김김 &nbsp;&nbsp; 사업자 등록 번호 : 123-45-67890 &nbsp;&nbsp; 통신 판매 번호 : 2023-서울강남-0909 </p>
                </div>
            </div>
        </div>
        <div class="footer_bottom_container">
            <div class="footer_guide_message">
                <p>유니브스토어(주)에서 판매하는 상품 중에는 개별 판매자가 판매하는 상품이 포함되어 있습니다.</p>
                <p>개별판매자가 판매하는 상품에 대해 유니브스토어(주)는 통신중개판매업자로서 통신판매의 당사자가 아니며 상품의 주문, 배송 및 환불 등과 관련한 의무와 책임은 각 판매자에게
                    있습니다.</p>
            </div>
        </div>
    </div>
</div>
</th:block>
</html>