<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/flexslider.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
   <script>
        // 팝업을 닫는 JavaScript 함수
        function closePopup() {
            var popup = document.querySelector('.popup');
            popup.style.display = 'none'; // 팝업을 숨김
            document.body.classList.remove('dimmed'); // 배경을 어둡게 하는 클래스 제거
        }
    </script>
</head>
<body class="">
<th:block th:replace="header :: headerFragment"></th:block>
<!--
<div th:include="header :: header"></div>
기존 헤더파일 연결 코드
    <header id="header">
        <script type="text/javascript">
            $('#header').load('header.html')
        </script>
    </header>
-->

 <!--  <div class="popup">
        <div class="title">집에가고싶다</div>
        <div class="content">
            <p>
                추석 연휴 기간 동안 팀장의 연락과 지원이 중지됩니다.<br>
              10월 2일 이후 송수신 가능합니다.<br>
                추석 연휴 기간 동안 질문내용은 10월 2일(월) 일괄 처리됩니다.
            </p>
            <p>감사합니다.</p>
        </div>
        <div class="cmd">
             <input type="button" name="btnclose" class="button" value="닫기" onclick="closePopup()">
        </div>
    </div>-->



    <div id="section" class="content">
        <div class="section_maincon_wrap">
            <div class="maincon_slider flexsliderwrapper">
                <div class="flexslider"> 
                    <ul class="slides"> 
                        <li><img src="" alt=""></li>
                        <li><img src="" alt=""></li>
                        <li><img src="" alt=""></li>
                        <li><img src="" alt=""></li>
                        <li><img src="" alt=""></li>
                    </ul> 
                  </div> 
            </div>
            
            
       
          
            <div class="maincon_product">
                <a href="#" class="product_category">세일보다 더 큰 페스타</a>
                <p>마지막 단 하루! 최대 80% 페스타딜 마감 임박</p>
                
                
                
                <!-- 상품영역 시작 -->
                <div class="product_container mt40">
                    <div class="img_container">
                        <img src="/images/pro_img01.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기 
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40">
                    <div class="img_container">
                        <img src="/images/pro_img02.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기 
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40">
                    <div class="img_container">
                        <img src="/images/pro_img04.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기 
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40 last">
                    <div class="img_container">
                        <img src="/images/pro_img03.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기  
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40">
                    <div class="img_container">
                        <img src="/images/pro_img05.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기   
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40">
                    <div class="img_container">
                        <img src="/images/pro_img06.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기   
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40">
                    <div class="img_container">
                        <img src="/images/pro_img07.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기   
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_container mt40 last">
                    <div class="img_container">
                        <img src="/images/pro_img08.jpeg" alt="상품이미지01">
                    </div>
                    <div class="button_wrapper">
                        <a href="" class="cart_btn">
                            <span class="material-symbols-outlined material-cart"> shopping_cart</span>
                            담기  
                        </a>
                    </div>
                    <a href="#" class="text_container">
                        <h3>
                            <span class="brand_name">[소니]</span>
                            WH-1000XM5 노이즈 캔슬링 헤드
                        </h3>
                        <div class="product_price">
                            <div class="dimmed_price">60,000</div>
                            <div class="discount_price">
                                <span class="discount_rate">20%</span>
                                <span class="sales_price">48000원</span>
                            </div>
                            <div class="review_count">
                                <span class="material-symbols-outlined sms">sms</span>
                                <span class="review_num">744</span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 상품영역 끝 -->
            </div>

            <!-- 브랜드 배너 시작 -->
            <div class="main_brand">
                <div class="main_brand_list">
                    <a class="main_card" href="#">
                        <img src="images/brand_img01.png" alt="Apple" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img02.png" alt="삼성" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img03.png" alt="LG" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img04.png" alt="SONY" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img05.png" alt="BOSE" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img06.png" alt="PlayStation" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img07.png" alt="한컴오피스" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img08.png" alt="Logitech" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img09.png" alt="Microsoft" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img10.png" alt="B&amp;O" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img11.png" alt="다이슨" />
                    </a>
                    <a class="main_card" href="#">
                        <img src="images/brand_img12.png" alt="Wacom" />
                    </a>
                </div>
            </div>
            <!-- 브랜드 배너 끝 -->
            
            <!-- 사이트 장점 시작 -->
            <div class="main_benefit">
                <h3>믿고 살 수 있는 학생복지스토어</h3>
                <div class="main_benefit_list">
                    <div class="main_benefit_item">
                        <div class="main_benefit_item_img" style="background-image:url(/images/ic-money.png)"></div>
                        <div class="main_benefit_item_title">대학생 혜택을 위한 저렴한 가격</div>
                        <div class="main_benefit_item_title_scription">
                            다양한 유명 브랜드의 인기 상품을
                            <br>
                            합리적인 가격으로 만나보세요.
                        </div>
                    </div>
                    <div class="main_benefit_item">
                        <div class="main_benefit_item_img" style="background-image:url(/images/ic-money.png)"></div>
                        <div class="main_benefit_item_title">대학생 혜택을 위한 저렴한 가격</div>
                        <div class="main_benefit_item_title_scription">
                            다양한 유명 브랜드의 인기 상품을
                            <br>
                            합리적인 가격으로 만나보세요.
                        </div>
                    </div>
                </div>
            </div>
            <!-- 사이트 장점 끝 -->
        </div>
    </div>
    <!-- 푸터 -->
   <th:block th:replace="footer :: footerFragment"></th:block>
</body>
</html>