<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/post.css">
</head>
<body>
<h3>* 상세 보기 *</h3>
<table>
  <tr>
  	<td style="text-align: right;">
  		<a th:href="@{/qreply(num=${data.num},page=${page})}">
  			답글달기
  		</a>
  		<a th:href="@{/qupdate(num=${data.num},page=${page})}">
  			수정하기
  		</a>
  		<a th:href="@{/qdelete(num=${data.num},page=${page})}">
  			삭제하기
  		</a>
  		<a th:href="@{/qlist(page=${page})}">
  			목록보기
  		</a>
  	</td>
  </tr>
</table>

<table>
  <tr>
  	<td>
  		작성자 : [[${data.id}]]
  	</td>
  	<td>작성일 : [[${data.bdate}]]</td>
  	<td>조회수 : [[${data.readcnt}]]</td>
  </tr>
  <tr>
  	<td colspan="3">제목 : [[${data.title}]]</td>
  </tr>
  <tr>
  	<td colspan="3">
  		<textarea rows="5" style="width: 98%" readonly="readonly">[[${data.cont}]]</textarea>
  	</td>
  </tr>
</table>
</body>
</html>
