<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" href="css/board.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<h3>* 문의 게시판 *</h3>
<table>
  <tr>
  	<td>
  	[<a th:href="@{/qlist}">최근목록</a>]&nbsp;  
  	[<a th:href="@{/qinsert}">글쓰기</a>]
  	[<a th:href="@{/qsearch(searchName='name', page=${page}, searchValue=${nickname})}">내 문의 글 보기</a>]
  	</td>
  </tr>
</table>

<table>
	<tr style="background-color: silver;">
	  <th>번호</th><th>글 제 목</th><th>작성자</th><th>작성일</th><th>조회수</th>
	</tr>
	<th> 
	<tr th:each="b:${data}">
		<td>[[${b.num}]]</td>
		<td>
			<!-- 답글 들여쓰기 준비 -->
			<th:block th:each="count : ${#numbers.sequence(0, b.nested)}">  <!-- 0부터 nested 만큼 반복 -->
				<th:with var="tab">&nbsp;</th:with>
			</th:block>
			[[${tab}]]<a th:href="@{/qdetail(num=${b.num},page=${page})}" th:text="${b.title}"></a>
		</td>
		<td>[[${b.name}]]</td>
		<td>[[${b.bdate}]]</td>
		<td>[[${b.readcnt}]]</td>
	</tr>
	
	<!-- paging -->
 	 <div class="pagination">
                <span th:block th:each="num : ${#numbers.sequence(1, pagesu)}">
                    <span th:if="${num} == ${page}"><label th:for="${num}"><b th:text="${num}"></b></label></span>
                    <span th:if="${num} != ${page}"><a th:href="@{anmt(page=${num})}" th:text="${num}"></a></span>
                </span>
            </div>

	<!-- 검색 작업 추가 -->
	<tr style="text-align: center;">
		<td colspan="5">
		<br/>
		<form action="/qsearch" method="get">
		  검색 대상 : 
		  <select name="searchName">
			<option value='name' selected>작성자</option>
			<option value='title'>글제목</option>
		  </select>
		  <input type="text" name="searchValue">
		  <input type="submit" value="검 색">
		</form>
		</td>
	</tr>
</table>
</body>
</html>